@{
  Layout = "_Layout";
}
<!-- Do we need this semicolon? -->
@using System.Security.Claims;

<h2>Login Information</h2>

<hr/>

@if (User.Identity.IsAuthenticated)
{
    <h1>Hello @User.Identity.Name!</h1>
    @using (Html.BeginForm("LogOff", "Account"))
    {
        <input type="submit" class="btn btn-outline-secondary" value="Log Out"/>
        <a class="btn btn-outline-info" href="/">Home</a>  
    }
}
else
{

    <a class="btn btn-outline-success" href="/Account/Login">Log in</a>
    <a class="btn btn-outline-warning" href="/Account/Register">Register</a>
    <a class="btn btn-outline-info" href="/">Home</a>  
}