@{
    Layout = "_LayoutLanding";
    ViewData["Title"] = "REGISTER";
}
@using Circles_MVC.ViewModels
@using Microsoft.AspNetCore.Identity
@model RegisterViewModel

<div id="registerCircle">
    <div class="text-center" id="registerTitle">
        <h1 class="display-4">REGISTER</h1>
        <h4>START CONNECTING</h4>
        <div id="registerContainer"> 
            @using (Html.BeginForm("Register", "Account", FormMethod.Post))
            {
                <div id="registerFormStyle">
                    <label for="UserName" >User Name: </label><br>
                    <input data-val="true" data-val-required="The User Name field is required." id="UserName" name="UserName" type="text" required value="">
                    <br>
                    <label for="Email">Email: </label><br>
                    <input data-val="true" data-val-required="The Email field is required." id="Email" data-val-email="Must be a valid email address!" name="Email" type="text" required value="">
                    <br>
                    <label for="Password">Password: </label><br>
                    <input data-val="true" data-val-required="The Password field is required." id="Password" name="Password" type="password" required value="">
                    <br>
                    <label for="ConfirmPassword">Confirm Password: </label><br>
                    <input data-val="true" data-val-equalto="The password and confirmation password do not match." data-val-equalto-other="*.Password" id="ConfirmPassword" name="ConfirmPassword" required type="password">
                    <br>
                </div>
                <input class="btn btn-outline-secondary button-styling-solid" value="Register" type="submit"/>
            }
            <p>@ViewBag.ErrorMessage</p>
            <!-- move this back into form once we implement database ??-->
            <a href="/Account/Login"><button class="btn btn-outline-secondary button-styling-solid" type="submit" >LOG IN INSTEAD</button></a>
            <div class="field-validation-valid" data-valmsg-for="controlName" data-valmsg-replace="true"></div>
        </div>
    </div>
</div>

<div id="landingCircle2"></div>
<div id="landingCircle3"></div>