@{
    Layout = "_LayoutLanding";
    ViewData["Title"] = "CIRCLES";
}

<div class="text-left" id="landingTitle">
    <h1 class="display-4">CIRCLES</h1>
    <h4>Connect with people, make your circles, and share experiences with them.</h4>
    <a href="/ApplicationUser/"><button class="btn btn-outline-info button-styling" type="submit" >GET STARTED</button></a>
</div>

<div id="landingCircle" class="carousel slide" data-ride="carousel">




</div>
