@{
    Layout = "_LayoutLanding";
    ViewData["Title"] = "CIRCLES";
}
@using System.Security.Claims;

@if (User.Identity.IsAuthenticated) 
{
    <div class="text-left" id="landingTitle">
        <h1 class="display-4">Welcome back, @User.Identity.Name </h1>
        <h4>Ready to get back to it?</h4>
        <a href="/Home/Landing"><button class="btn btn-outline-dark button-styling-solid" id="button-started" type="submit">GO HOME</button></a>
    </div>
}
else
{
    <div class="text-left" id="landingTitle">
        <h1 class="display-4">CIRCLES</h1>
        <h4>Connect with people, make your circles, and share experiences with them.</h4>
        <a href="/Account/Register"><button class="btn btn-outline-dark button-styling-solid" id="button-started" type="submit" >GET STARTED</button></a>
    </div>
}



<div id="landingCircle"></div>
<div id="landingCircle2"></div>
<div id="landingCircle3"></div>
