@{
    Layout = "_LayoutLanding";
    ViewData["Title"] = "CIRCLES";
}

<div class="text-left" id="landingTitle">
    <h1 class="display-4">CIRCLES</h1>
    <h4>Connect with people, make your circles, and share experiences with them.</h4>
    <a href="/ApplicationUser/"><button class="btn btn-outline-dark button-styling-solid" id="button-started" type="submit" >GET STARTED</button></a>
</div>

<div id="landingCircle"></div>
<div id="landingCircle2"></div>
<div id="landingCircle3"></div>
