@{
    Layout = "_Layout";
    ViewData["Title"] = "Home";
}

<div id="infoCircle">
    <h4 class="categoryTitle infoTitle">Information</h4>
   
    
    
    
    
    <div id="infoCircle2">
    <p class="infoText">Click your profile and update it!</p>
    </div>
    <div id="infoCircle3"><p class="infoText">Browse people and add them to circles!</p></div>
    
    
    <div id="infoCircle4"><p class="infoText"></p>Create Circles!</div>
    

</div>


<div id="landingCircle2"></div>
<div id="landingCircle3"></div>