@{
    Layout = "_LayoutLanding";
    ViewData["Title"] = "LOGIN";
}

@using Circles_MVC.ViewModels

@model LoginViewModel

<div id="loginCircle">
    <div class="text-center" id="loginTitle">
        <h1 class="display-4">LOGIN</h1>
        <h4>START CONNECTING</h4>
        <partial name="_LoginPartial" />
        
        
        
    </div>
</div>

<div id="landingCircle2"></div>
<div id="landingCircle3"></div>