/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }

}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {

  margin-bottom: 60px;
  margin: 0;
  padding: 0;
}
.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: white;
} 

/* Landing page styles
-------------------------------------------------- */

.landingContainer {
  position:absolute;
  margin: 0;
  padding: 0;
  
  width: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index:-1;
  background-color: #41d7e8;
}

#landingTitle {
  border: 100px;
  z-index: 0;
  margin-left: 50px;
  position: absolute;
  margin-top: 250px;
  font-family: 'Baloo Chettan', cursive;
  color: #6e6e6e;
}

#loginTitle {
  z-index: 0;
  margin-top: 15%;
  font-family: 'Baloo Chettan', cursive;
  color: #6e6e6e;
}

.login-input {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* Circle elements styles
-------------------------------------------------- */

#landingCircle{
  height: 1700px;
  width: 1700px;
  background-color: #00ffff;
  border-radius: 100%;
  display: inline-block;
  z-index: -3;
  position: relative;
  border: 30px solid #6e6e6e;
   /* top, right, bottom left */
  margin: 15% 60% 85% 40%;

}

#loginCircle {
  height: 90vw;
  width: 90vw;
  margin-top: 3%;
  margin-right: 2.5%;
  margin-left: 2.5%;
  background-color: #00ffff;
  border-radius: 100%;
  display: inline-block;
  position: sticky;
  border: 30px solid #6e6e6e;
  
}



.image-rounded {
  border-radius: 50% !important;
  z-index: -4;
}

@media (max-width: 768px) {
  #landingCircle {
    height: 1500;
    width: 1500;
  }

}

/* Button styles
-------------------------------------------------- */

.button-styling {

}


/* Main pages styles
-------------------------------------------------- */

.navbar {
  background-color: #00ffff;
}