
@{
    Layout = "_Layout";
}

<h1 class="categoryTitle">Add a New Circle</h1>
<hr>
<div class= "container-fluid userInformationCard">
@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="Name" class="userInformationDisplay">Name</label>
        <input name="Name" type="text" class="form-control" required>
    </div>


    <input type="submit" value="CREATE CIRCLE" class="btn button-styling-solid"/><br><br>
}
<a href="/circles/"><button class="btn button-styling-solid">CANCEL</button></a>
</div>

<div id="landingCircle6"></div>
<div id="landingCircle5"></div>
<div id="landingCircle4"></div>
