  
@{
    Layout = "_Layout";
}

@model IEnumerable<Circles_MVC.Models.Circle>

<h2>All Circles</h2>
<hr />

@foreach (var circle in Model)
{
    <ul>
        <li>@Html.ActionLink($"{circle.Name}", "Details", new { id = circle.CircleId})</li>
    </ul>
}

@Html.ActionLink("New Circle", "Create")
