  
@{
    Layout = "_Layout";
}

@model IEnumerable<Circles_MVC.Models.Userprofile>

<h2>All Userprofiles</h2>
<hr />

@foreach (var userprofile in Model)
{
    <ul>
        <li>Name: @Html.ActionLink($"{userprofile.Name}", "Details", new { id = userprofile.UserprofileId})</li>
    </ul>
}
