@{
    Layout = "_LayoutLanding";
    ViewData["Title"] = "LOGIN";
}

<div id="loginCircle">
    <div class="text-center" id="loginTitle">
        <h1 class="display-4">LOGIN</h1>
        <h4>START CONNECTING</h4>
        <form>
            <input type="text" class="form-control login-input" placeholder="Email">
             <br>
            <input type="text" class="form-control login-input" placeholder="Password"> 
            <br>
            
        </form>
        <a href="/Home/Landing"><button class="btn btn-outline-info button-styling" type="submit" >LOGIN</button></a>
        <a href="/ApplicationUser/Register"><button class="btn btn-outline-info button-styling" type="submit" >RESGISTER</button></a>
    </div>
</div>