@{
    Layout = "_LayoutLanding";
    ViewData["Title"] = "REGISTER";
}

<div id="loginCircle">
    <div class="text-center" id="loginTitle">
        <h1 class="display-4">REGISTER</h1>
        <h4>START CONNECTING</h4>
        <form>
            <input type="text" class="form-control login-input" placeholder="Name">
            
            <input type="text" class="form-control login-input" placeholder="Email">
             
            <input type="text" class="form-control login-input" placeholder="Password"> 
            
            <input type="text" class="form-control login-input" placeholder="Confirm password"> 
            
            
        </form>
        <!-- move this back into form once we implement database ??-->
        <a href="/Home/Landing"><button class="btn btn-outline-secondary button-styling-solid" type="submit" >REGISTER</button></a>
        
    </div>
</div>