@model Circles_MVC.Models.Userprofile
@{
    Layout = "_Layout";
}

<h1>Update your User profile</h1>
<hr>
@using (Html.BeginForm())
{
    <div class="form-group">
        <label for="Name">Name</label>
        <input name="Name" type="text" class="form-control" value="@Model.Name" required>
        @Html.HiddenFor(model => model.ApplicationUserId)
        @Html.HiddenFor(model => model.UserprofileId)
    </div>


    <input type="submit" value="Save Changes" class="btn btn-primary"/><br><br>
    @Html.ActionLink("Cancel", "Index")
}