  
@{
    Layout = "_Layout";
}

@model IEnumerable<Circles_MVC.Models.Userprofile>

<h2>All Userprofiles</h2>
<hr />

@foreach (var userprofile in Model)
{
    <div class="container-fluid row userprofilesRow">
        <div class="userprofilesCircle">

            <p class="userprofilesName">@Html.ActionLink($"{userprofile.Name}", "Details", new { id = userprofile.UserprofileId})</p>
        </div>
    </div>
}

<a href="/userprofiles/Prev">< Previous</a> | <a href="/userprofiles/Next">Next &gt;</a>
